.idea
/upload
/logs/
.env
node_modules

# Убираем билды го из репозитория
tmp/
.air.toml

# Убираем бд постгреса и redis из репозитория
postgres-db/
redis/

# Убираю ненужный файл для деплоя на тестовом сервере
docker-compose.test-server.yml