{{template "header" .}}

<div class="wrapper">
  <header class="header">
    <nav class="main-nav">
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link btn btn--white" href="/upload">Загрузка моделей</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link btn" href="/login">Авторизация</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    <main>
      <section class="models">
        <div class="container">
          <h1 class="models__title">Модели</h1>
          <ul class="models__list">

            {{ range $key, $model := .data }}

            <li class="models__item">
              <div class="models__content">
                <h2 class="models__model-title">{{ $model.Name }}</h2>
                <model-viewer class="models__model" src="{{ $model.FilePath }}" camera-controls></model-viewer>
                <span class="models__author">Created by AlucardOpp</span>
                <span class="models__data">{{ $model.CreateDate }}</span>
              </div>
              <div class="models__panel">
                <div class="models__info">
                  <h3 class="models__sub-title">Описание</h3>
                  <div class="models__info-container">
                    <p class="models__description">{{ $model.Description }}</p>
                    <ul class="models__actions">
                      <li class="models__action">
                        <button class="models__action-btn btn">Редактировать</button>
                      </li>
                      <li class="models__action">
                        <button class="models__action-btn btn">Удалить</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="models__comments">
                  <h3 class="models__sub-title">Комментарии</h3>
                  <div class="models__comments-container">
                    <ul class="models__comments-list">
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            {{end}}

            <li class="models__item">
              <div class="models__content">
                <h2 class="models__model-title">Акула</h2>
                <model-viewer class="models__model" src="../../upload/Shark.glb" camera-controls></model-viewer>
                <span class="models__author">Created by AlucardOpp</span>
                <span class="models__data">24.06.2022</span>
              </div>
              <div class="models__panel">
                <div class="models__info">
                  <h3 class="models__sub-title">Описание</h3>
                  <div class="models__info-container">
                    <p class="models__description">Это акула, акула это рыба, вооот</p>
                    <ul class="models__actions">
                      <li class="models__action">
                        <button class="models__action-btn btn">Редактировать</button>
                      </li>
                      <li class="models__action">
                        <button class="models__action-btn btn">Удалить</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="models__comments">
                  <h3 class="models__sub-title">Комментарии</h3>
                  <div class="models__comments-container">
                    <ul class="models__comments-list">
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="models__item">
              <div class="models__content">
                <h2 class="models__model-title">Акула</h2>
                <model-viewer class="models__model" src="../../upload/Shark.glb" camera-controls></model-viewer>
                <span class="models__author">Created by AlucardOpp</span>
                <span class="models__data">24.06.2022</span>
              </div>
              <div class="models__panel">
                <div class="models__info">
                  <h3 class="models__sub-title">Описание</h3>
                  <div class="models__info-container">
                    <p class="models__description">Это акула, акула это рыба, вооот</p>
                    <ul class="models__actions">
                      <li class="models__action">
                        <button class="models__action-btn btn">Редактировать</button>
                      </li>
                      <li class="models__action">
                        <button class="models__action-btn btn">Удалить</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="models__comments">
                  <h3 class="models__sub-title">Комментарии</h3>
                  <div class="models__comments-container">
                    <ul class="models__comments-list">
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                      <li class="models__comment-item">
                        <p class="models__comment">Очень интересный и важный комментарий о данной моделе <span class="models__comment-author">Written by Dmitry</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
</div>

{{template "footer"}}