{{template "header" .}}

<h1 class="border-bottom">upload here</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
    <div>
        <label for="name">Name</label>
        <input name="name" id="name" type="text" required autocomplete="off">
    </div>
    <div>
        <label for="descr">Description</label>
        <textarea name="descr" id="descr" type="text" autocomplete="off"></textarea>
    </div>
    <input name="file" accept=".gltf, .glb" type="file" required>
    <button type="submit">Upload!!!</button>
</form>

{{template "footer"}}