@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsansthin.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsansthin.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsansextralight.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsansextralight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsanslight.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsans.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsanstext.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsanstext.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsansmedium.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsansmedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsanssemibold.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsanssemibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "IBM Plex Sans";
  font-display: swap;
  src:
    url("@/assets/fonts/ibmplexsansbold.woff2") format("woff2"),
    url("@/assets/fonts/ibmplexsansbold.woff") format("woff");
}