.input {
  border: 0.0625rem solid #d4dbea;
  transition: opacity 0.3s ease;
  margin-top: auto;
  min-height: 3.0625rem;
  background: #f8f8f8 !important;
  border-radius: 0.625rem;
  padding: 14px;
  width: 100%;
  color: #101241;
  font-size: 1rem;
  font-weight: 500;
  position: relative;

  &--textarea {
    min-height: 125px;
    resize: vertical;
  }

  @media (hover: hover),
  screen {
    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 1;
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }
}