.main-nav {
  width: 100%;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;

    @media (max-width: 767px) {
      width: 32px;
      height: 32px;
    }

    @media (hover: hover), screen {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__link {
    &.is-active {
      opacity: 0.6;
    }

    @media (max-width: 767px) {
      padding: 7px;
    }

    &--upload {
      svg {
        display: none;
      }

      svg path {
        stroke: $color-navy-blue;
      }

      @media (max-width: 767px) {
        svg {
          display: block;
        }

        span {
          display: none;
        }
      }
    }
  }

  &__toggle {
    display: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
  }

  &__lk {
    &--small {
      display: none;

      @media(max-width: 767px) {
        display: block;
      }
    }

    &--big {
      @media(max-width: 767px) {
        display: none;
      }
    }
  }
}
