.btn {
  display: flex;
  margin: 0;
  padding: 9px 16px;

  color: $color-default-white;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  min-height: 32px;
  min-width: 32px;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--white {
    background-color: $color-default-white;
    border: 1px solid $color-navy-blue;
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    &:hover {
      opacity: 0.8;
    }
  }
}
